   <div class="main-container">
      
        <div class="heading">
            <div class="heading-text">
                <h2>{{section.settings.heading-text}}</h2>
            </div>
        </div> 
          
      
     <div class ="faq-container" id="one">
        <div class="faq">
            <h3> Shopping with Happa </h3>
            <div class="tab">
                <input type="checkbox" id="tab11" class="tab-toggle">
                <label for="tab11" class="tab-label">Where can I find happa?</label>
                <div class="tab-content">
                    You can find us online on:<br>
                  <div class="site-icon-container">
                    <div class="site-icon">
                        <img src="{{section.settings.happa | img_url:'master'}}" >
                        <span>Happafoods</span>
                    </div>
                    <div class="site-icon">
                        <img src="{{section.settings.amz | img_url:'master'}}" >
                        <span>Amazon</span>
                    </div>
                  </div>
                  <div class="site-icon-container">
                    <div class="site-icon">
                        <img src="{{section.settings.fc | img_url:'master'}}" >
                        <span>Firstcry</span>
                    </div>
                    <div class="site-icon">
                        <img src="{{section.settings.fk | img_url:'master'}}" >
                        <span>Flipkart</span>
                    </div>
                    <div class="site-icon">
                        <img src="{{section.settings.bb | img_url:'master'}}" >
                        <span>Big Basket</span>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab12" class="tab-toggle">
                <label for="tab12" class="tab-label">Where does Happa delivers to?</label>
                <div class="tab-content">
                    Happa delivers at Pan India 
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab13" class="tab-toggle">
                <label for="tab13" class="tab-label">How do I place an order?</label>
                <div class="tab-content">
                    It’s fairly simple just follow a few basic steps and done you’ll get all your favorites right away<br>
                    Step 1: Go to Happa website<br>
                    Step 2: Select product of your choice<br>
                    Step 3: Add to cart <br>
                    Step 4: Checkout <br>
                    Step 5: Fill required details<br>
                    Step 6: Hooray! Its Done <br>
                     Your order will be placed and you will get a confirmation mail for the same.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab14" class="tab-toggle">
                <label for="tab14" class="tab-label">How to return?</label>
                <div class="tab-content">
                    I am non-refundable. However, in the unlikely event of damaged, defective or different/wrong item delivered to you, we will provide a full refund or free replacement as applicable.
                </div>
            </div>
          	<div class="tab">
                <input type="checkbox" id="tab15" class="tab-toggle">
                <label for="tab15" class="tab-label">How to track my order?</label>
                <div class="tab-content">
                  <a href="https://www.happafoods.com/pages/track-your-order"> click here to go on the tracking page </a>
                </div>
            </div>
          	<div class="tab">
                <input type="checkbox" id="tab16" class="tab-toggle">
                <label for="tab16" class="tab-label">How much time would it take to reach me?</label>
                <div class="tab-content">
                    I would be in your hands within 3 to 5 days
                </div>
            </div>
            <div class="tab">
                  <input type="checkbox" id="tab17" class="tab-toggle">
                <label for="tab17" class="tab-label">The item I want is out of stock. What do I do now?</label>
                <div class="tab-content">
					Happa restocks the product in every 3 to 4 days. You can check your products after 3 to 4 days or drop us a message at whats app chat window.
              	</div>
            </div>
        </div>
      </div>
     
     <div class ="faq-container" id="two">
        <div class="faq">
            <h3> Happa’s Products + Ingridients </h3>
            <div class="tab">
                <input type="checkbox" id="tab21" class="tab-toggle">
                <label for="tab21" class="tab-label">What is Happa Foods?</label>
                <div class="tab-content">
                    Happa foods is a company under Nascens Pvt Ltd that provides 100% organic baby food products filled with goodness of fruits and veggies in puree pouches and porridges that helps parents to provide the right nutrition at every stage of their baby’s growth. 
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab22" class="tab-toggle">
                <label for="tab22" class="tab-label">Why Happa?</label>
                <div class="tab-content">
                    	100% Organic fruits and veggies<br>
                    	No Preservatives-additives or colour<br>
                    	No salt & sugar<br>
                    	BPA Free Packaging<br>
                    	Choke Free Baby Friendly Cap<br>
                    	Fresh from the farm<br>
                    	Gluten Free<br>
                    	Vegan<br>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab23" class="tab-toggle">
                <label for="tab23" class="tab-label">How is Happa made? Why is it safe for my little one?</label>
                <div class="tab-content">
                  <ul style="list-style-type: disc;">
                  <li>ORANIC FRUIT &amp; VEGGIES<br>
                    Fruits and veggies are sourced directly from certified organic farms</li>
                  <li>PEELING<br>
                    All the fruits and veggies are then sent for cleaning and peeling</li>
                  <li>PUREEING<br>
                    After peeling, the ingredients are chopped into tiny pieces and blended into fine purees</li>
                  <li>HEATING &amp; COOLING<br>
                    Sealed packs are heated to kill the any bacteria present and cooled at room temperature</li>
                  <li>TESTING &amp; LABELLING<br>
                  The products are kept under regular observation for testing possible contamination. Once cleared, it gets labelled and shipped to the warehouse.
                  The ingredients that are combined to make one flavour are selected according to their pH value in such a way that they balance each other so that it does not go bad and stays longer without adding any preservative.
                  </li>
                  </ul>
                 </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab24" class="tab-toggle">
                <label for="tab24" class="tab-label">Why does Happa use only organic ingredients</label>
                <div class="tab-content">
            	All of the ingredients in our baby food are 100% certified baby-grade organic and our food is certified by Organic Farmers and Growers. Organic farming and food production means tip-top environmental practices, lots of biodiversity and to give a healthy smile to your little one.
              	</div>
            </div>
          	<div class="tab">
                <input type="checkbox" id="tab25" class="tab-toggle">
                <label for="tab25" class="tab-label">From where Happa sources its organic ingridients?</label>
                <div class="tab-content">
				Happa organic baby food uses ingredients that are straight from the farms. We sources apples and peaches from Himachal Pradesh and Uttarakhand while spinach is sourced from an organic farm in 
              </div>
            </div>
          	<div class="tab">
                <input type="checkbox" id="tab26" class="tab-toggle">
                <label for="tab26" class="tab-label">What are the vegetable products that are included in the Happa?</label>
                <div class="tab-content">
                    Happa organic baby food includes vegetables like carrots, beetroot, sweet potato, spinach that are 100% organic and safe.
                </div>
            </div>
            <div class="tab">
                  <input type="checkbox" id="tab27" class="tab-toggle">
                <label for="tab27" class="tab-label">Is Happa food complete vegetarian? And where can I find the information on the product?</label>
                <div class="tab-content">
					Yes. Happa organic baby food is 100% vegetarian. You can find all the information regarding the ingredients used and in what quantity, its nutritional facts etc at the backside of the packaging.
              	</div>
            </div>
          	<div class="tab">
                  <input type="checkbox" id="tab28" class="tab-toggle">
                <label for="tab28" class="tab-label">Does Happa Foods add sugar in foods?</label>
                <div class="tab-content">
					We don't add sugar to our food
              	</div>
            </div>
          	<div class="tab">
                  <input type="checkbox" id="tab29" class="tab-toggle">
                <label for="tab29" class="tab-label">Does Happa add salt?</label>
                <div class="tab-content">
					At Happa, we never add any salt to our products.
              	</div>
            </div>
        </div>
      </div>
     
     <div class ="faq-container" id="three">
        <div class="faq">
            <h3> Using Happa Food Products </h3>
            <div class="tab">
                <input type="checkbox" id="tab31" class="tab-toggle">
                <label for="tab31" class="tab-label">How should I serve and store the baby food pouches? How do I make Happa Puree?</label>
                <div class="tab-content">
                    Happa  puree can be feeded directly and you have to store it in refrigerator if my pouch is opened. 
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab32" class="tab-toggle">
                <label for="tab32" class="tab-label">How should I serve and store the baby food porridge? How do I make Happa Porridge?</label>
                <div class="tab-content">
                    Take 2 spoon of Ragi porridge of your choice, add milk or water and cook for 2-4 minutes. Cool it and serve it. That’s it! You can keep Happa Porridge in refrigerator.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab33" class="tab-toggle">
                <label for="tab33" class="tab-label">How long are products good for after opening Puree?</label>
                <div class="tab-content">
                  Store the pouch in freezer and consume it within 48 hrs
                 </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab34" class="tab-toggle">
                <label for="tab34" class="tab-label">How long are products good for after opening porridge? </label>
                <div class="tab-content">
            	  Store the pack in refrigerator and consume it within 21 days
              	</div>
            </div>
          	<div class="tab">
                <input type="checkbox" id="tab35" class="tab-toggle">
                <label for="tab35" class="tab-label">Can I travel with Happa?</label>
                <div class="tab-content">
					Yes
              	</div>
            </div>
          	<div class="tab">
                <input type="checkbox" id="tab36" class="tab-toggle">
                <label for="tab36" class="tab-label">How do I know, if I have a defective pouch?</label>
                <div class="tab-content">
                    If the product is physically damaged or inflated with air, then please do not feed it to baby and return it to us, we would replace the pouch
                </div>
            </div>
            <div class="tab">
                  <input type="checkbox" id="tab37" class="tab-toggle">
                <label for="tab37" class="tab-label">What is the pouch made of?</label>
                <div class="tab-content">
					Pouch is made up of BPA Free packaging, which is baby friendly 
              	</div>
            </div>
          	
        </div>
      </div>
     
     <div class ="faq-container" id="four">
        <div class="faq">
            <h3> Weaning </h3>
            <div class="tab">
                <input type="checkbox" id="tab41" class="tab-toggle">
                <label for="tab41" class="tab-label">Is my little one eating enough?</label>
                <div class="tab-content">
                   	All babies are different and they will have different appetites, which is completely normal for them. In fact, some days they will have a bigger appetite than others! You may notice that one day they want to gobble up everything in sight and others, they're not that interested. This is often in line with growth spurts and is nothing to worry about. Always be led by your little one's appetite as they know when they've had enough. They will tell you by turning their head away from the spoon or by pushing it away. Don't worry if they don't seem to eat much for a day or two. Over the course of a week or so they will eat enough to get all the nutrients they need, especially if you offer lots of variety.
					<br><br>Give little ones lots of smiles and praise when they eat well or try a new food and never force them to eat if they're not interested. Even after the weaning journey, little ones are still learning about eating, so encourage them to listen to their appetite so they don't routinely learn to overeat.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab42" class="tab-toggle">
                <label for="tab42" class="tab-label">Is my little one eating too much?</label>
                <div class="tab-content">
                    Little ones are really good at knowing when they've had enough to eat. Unlike us, they don't eat when they're bored or stuff in a dessert when they're full up just because it looks tasty! So if your little one pushes food away or turns his / her head, they're telling you they don't want any more. It's really important to avoid forcing them to eat more than they want, even if it seems they've not eaten that much. They'll probably make up for it later or in a day or two. Every baby is different, so their appetites will vary and this is usually completely normal for them.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="tab43" class="tab-toggle">
                <label for="tab43" class="tab-label">My little one struggles with lumps?</label>
                <div class="tab-content">
                  Don't worry! This is really common when little ones first experience textures. Gagging is a normal reflex response to new textures and, while it can be worrying, it isn't a cause for concern. Your little one will pretty quickly get used to new textures if you keep trying. When first introducing texture, make sure foods are mashed finely so that the lumps are really small and soft. This will help your little one get used to eating more textured foods.
                 </div>
            </div>
          	
        </div>
      </div> 
      
    </div>
      <style>
        	/*selective faq container changes*/
        	.main-container .faq-container#two {
            background-color: #f76a23; 
            }
            .faq-container#two .faq .tab-label:hover{
            background-color: #ff8345;   
            }
            .faq-container#two .faq .tab-toggle:checked ~.tab-label
            {
            background-color: #ff8345;
            }
        	.faq-container#two .faq .tab-label::after
        	{
        	color: #f76a23;
            }
        
        	.main-container .faq-container#three {
            background-color: #e83333; 
            }
            .faq-container#three .faq .tab-label:hover{
            background-color: #f75454;   
            }
            .faq-container#three .faq .tab-toggle:checked ~.tab-label
            {
            background-color: #f75454;
            }
        	.faq-container#three .faq .tab-label::after
        	{
        	color: #e83333;
            }
        
        	.main-container .faq-container#four {
            background-color: #ad31cc; 
            }
            .faq-container#four .faq .tab-label:hover{
            background-color: #d558f5;   
            }
            .faq-container#four .faq .tab-toggle:checked ~.tab-label
            {
            background-color: #d558f5;
            }
        	.faq-container#four .faq .tab-label::after
        	{
        	color: #ad31cc;
            }
        	/*selective faq container changes ends*/
        
   		  /*for faq container*/
  		.main-container .faq-container {
          width:100%;
          background-color: #198F2E; 
        }
        .faq-container .faq
        {
            width: 80%;
          	margin: 0 auto;
            overflow: hidden;
          	padding-top: 2em;
          	padding-bottom: 3em;
        }
  		.faq-container .faq h3{
          text-align:center;
          margin: 1em 0;
        }
        /*.faq-container .faq .tab{
            border-bottom: 3px solid white;
        }*/
        .faq-container .faq .tab::after{
            content: "";
            display: block;
            height: 5px;
            background-image: url("{{ 'tab-border.svg' | asset_url }}");
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 100% 100%;
        }
        .faq-container .faq .tab-toggle
        {
        display: none ;
        }
        .faq-container .faq .tab-label
        {
        color: white;
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding:2.5px;
        font-size:16px;
        font-weight: 900;
        
        margin-bottom: 0;
        }
        .faq-container .faq .tab-label:hover{
        background-color: #1CBA38;   
        }
        .faq-container .faq .tab-toggle:checked ~.tab-label
        {
        background-color: #1CBA38;
        }
 		.faq-container .faq .tab-label::before{
          display:none !important;
        }
        .faq-container .faq .tab-label::after
        {
        content:'+'; /*276F    -for arrow   254B  -for plus*/
        transition: all .5s;
        font-size: 54px;
        border-radius: 50%;
        color: #198f2e;
        background-color: white;
        padding: 3.5px 3.5px;

        display: flex;
        justify-content: center;
        align-items: center;
          
        opacity: 1;
        -moz-transform: scale(0.65) rotate(0deg);
        -o-transform: scale(0.65) rotate(0deg);
        -ms-transform: scale(0.65) rotate(0deg);
        -webkit-transform: scale(0.65) rotate(0deg);
        transform: scale(0.65) rotate(0deg);
        position: static;
        width: 30px !important;
        height: 31px !important;
        border: 0px solid #232323 !important;
        }
 
        .faq-container .faq .tab-toggle:checked ~ .tab-label::after
        {
        transform: scale(0.65) rotate(45deg);
        }
 
        .faq-container .faq .tab-content
        {
        max-height: 0px;
        overflow: hidden;
        transition: all .5s;
        padding: 0 1em;
        }
        .faq-container .faq .tab-content a{
        color:white;
        }
        .faq-container .faq .tab-toggle:checked ~ .tab-content
        {
        max-height: 100vh;
        padding:1em;
        transition: all .5s;
        }
  </style>
      

<style>        
     /*for main page container and heading*/
  		.main-content{
          overflow-x:hidden;
          padding-bottom:0;
        }
  
        .main-container{
            width: 100vw;
            min-height: 40vh;
            overflow: hidden;
          	color:white;
          	font-family: "boosterNextFY", "Arial","sans-serif";
            /* min-height: 40vh; */
            /*padding: 3%;*/
        }
        .main-container .heading{
            width:100%;
          	min-height:15vh;
          	background-color: {{section.settings.heading-bg}};
          	display:flex;/*for vertical alignment*/
          	justify-content:center;
            align-items: center;
          	text-align:center;
            padding-bottom: 2%;
        }
  		.main-container .heading h2{
          margin-bottom:0;
          font-size: 35px;
        }
  
  		.site-icon img {
          width: 60px;
          height: 53px;
          display: block;
          margin: auto;
        }
  		.site-icon-container{
          display:flex;
          justify-content: space-around;
          text-align:center;
          font-weight: 600;
          padding: 11px 3px 3px;
        }
</style>


{% schema %}
  {
    "name": "FAQ Section",
	"settings": [
				  {
					"type" : "text",
					"label" : "Heading Text",
					"id" : "heading-text",
					"default" : "FAQs"
				  },
				  {
					"type" : "color",
					"label" : "Heading background",
					"id" : "heading-bg",
					"default" : "#ad2b94"
				  },
			      {
                    "type" : "color",
                    "label" : "background color",
                    "id" : "bg-color",
                    "default" : "#198f2e"
                  },
                  {
                    "type" : "color",
                    "label" : "question click color(lighter than background color)",
                    "id" : "q-color",
                    "default" : "#1cba38"
                  },
                  {
                    "type" : "image_picker",
                    "label" : "happa logo",
                    "id" : "happa"
                  },
                  {
                    "type" : "image_picker",
                    "label" : "amazon logo",
                    "id" : "amz"
                  },
                  {
                    "type" : "image_picker",
                    "label" : "firstcry logo",
                    "id" : "fc"
                  },
                  {
                    "type" : "image_picker",
                    "label" : "flipkart logo",
                    "id" : "fk"
                  },
                  {
                    "type" : "image_picker",
                    "label" : "big basket logo",
                    "id" : "bb"
                  }
				],

	"blocks" : [
				 {
					"type" : "text",
					"name" : "FAQ block",
					"settings" : [
                                    {
                                        "type" : "text",
                                        "label" : "FAQ question 1",
                                        "id" : "faq-q1",
                                        "default" : "Question number one?"
                                    },
                                    {
                                        "type" : "textarea",
                                        "label" : "FAQ answer 1",
                                        "id" : "faq-a1",
                                        "default" : "lorem ipsum blah hsb dhbhs hbdhbw3 bhbbf bhbb3 hbh3hbibubv fiu4fg bf4guiug2f 4fbug4uu 4biugbu3 f3fg43iugfig3u4b f4ubg"
                                    }
								 ]
				 }
 			   ],

	"presets": [
				{ "category" : "FAQ",
				  "name" : "FAQ section"
                }
			   ]
  }
{% endschema %}
 
